@font-face {
    font-family: 'MainFont';
    src: url(/fonts/Poppins-Regular.ttf);
    /* src: url(../webfonts/free-fa-solid-900.woff2) format("woff2"),url(../webfonts/free-fa-solid-900.ttf) format("truetype") */
}

/* @property --button-disable-color {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(158, 158, 158);
}

@property --button-enable-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #be3ad9;
} */

:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg: #579ffb;
    --button-disable-color: rgb(158, 158, 158);
    --button-enable-color: #be3ad9;
}

#hideAll {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    z-index: 99;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
    font-family: 'MainFont';
    font-size: 0.85rem;
}

button {
    font-family: 'MainFont';
    font-size: 1rem;
    font-weight: bold;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.MainSettings {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /* display: none; */
}

.Centered {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

#canvas {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    display: block;
}

#containerLabels {
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#labelsScene {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    color: black;
    z-index: 0;
}

#labelsScene>div {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1em;
    text-align: center;
    text-shadow: rgb(255, 255, 255) -1px -1px 0px, rgb(255, 255, 255) 1px -1px 0px, rgb(255, 255, 255) -1px 1px 0px, rgb(255, 255, 255) 1px 1px 0px;
}

/*#region search-section*/

#search-section {
    height: 100%;
    /* position: absolute; */
    background-color: #eeeeee;
}

#search-section #imageSearchSprite {
    width: 10vw;
    margin-top: 5vh;
    visibility: hidden;
}

#search-section h3 {
    margin: 0;
    color: #373737;
    font-size: 1.5em;
}

#search-div {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

#search-section select {
    margin-top: 2vh;
    padding: 14.5px 32px;
    border-radius: 24px;
    box-shadow: 0 1px 6px #00000021;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
}

/*#endregion */

/*#region description*/
#description-title {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
    font-size: 1rem;
}

#description-path {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /* background-color: #ffffff; */
    /* margin-right: 10vw; */
    /* margin-top: 3vh; */
    white-space: pre-line;
    text-overflow: clip;
    overflow: auto;
    height: 42vh;
    max-height: 42vh;
}

/* #description-path:hover {
    left: 0%;
} */

#description-path span {
    padding-left: 5vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 100%;
    border: #257ecc;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: justify;
    overflow-y: auto;
    /* overflow-x: clip; */
    transition: width .5s ease;
    font-size: 1rem;
}

#description-path button {
    display: none;
    /* position: relative; */
    /* right: 1vh; */
    /* background-color: blue; */
    align-self: center;
    height: 7rem;
    width: 3rem;
    border: black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    white-space-collapse: collapse;
}

#description-path button img {
    /* background-color: black; */
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    /* left: -20px; */
}

/*#endregion*/

.container-3DView-options {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 50vw;
    margin-top: 10%;
    margin-left: 5%;
    align-items: flex-start;
    justify-content: space-between;
}

#back3D {
    border-radius: 5px;
    padding: 5px;
    display: none;
}

.floor-selector {}

.category-selector {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.searchPlace3D{
    /* width: 100%; */
    margin-top: 1rem;
    height: 1.8rem;
    /* outline: none; */
    border-radius: 1rem;
    border: none;
    /* background-color: transparent; */
    /* font-size: 1.3rem; */
}

@keyframes slideDown {
    0% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0vh);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.showTop {
    animation: slideDown 0.5s ease-out forwards;
}

.hideTop {
    animation: slideUp 0.5s ease-out forwards;
}

.search-bar {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.carousel {
    margin-top: 20px;
}

.carousel h2 {
    color: white;
    margin-bottom: 10px;
}

.carousel-container {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    display: flex;
    overflow-x: auto;
    gap: 10px;
    scroll-snap-type: x mandatory;
    bottom: 0;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    background-color: #444;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: white;
    scroll-snap-align: start;
    flex: 0 0 20%;
    display: block;
    height: 15vh;
}

.carousel-item.hidden {
    display: none;
}

.carousel-item img {
    max-width: 70%;
    border-radius: 5px;
}

.carousel-item p {
    margin-top: 10px;
    font-size: 0.7em;
}

/*#endregion*/

.ring-1 {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 20px dashed #ffffff;
    border-radius: 100%;
}

.load-4 .ring-1 {
    display: block;
    align-items: center;
    animation: loadingD 1.5s 0.3s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
}

.l-4 {
    animation-delay: 0.84s;
}

@keyframes loadingD {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*#region Search place panel */

.container-searchButtons {
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-top: 3vh;
    width: 80%;
    align-items: center;
}

.container-select-place {
    display: none;
    position: absolute;
    width: 90%;
    /* top: 18vh; */
    left: 5vw;
    /* right: 9vw; */
    z-index: 1;
}

.card-select-place {
    position: absolute;
    width: 90%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: 60vh;
    border-radius: 23px;
    box-shadow: 2px 5px 11px 0px #00000029;
    background-color: #fff;
    align-items: center;
    place-content: space-evenly;
    transition: all 0.3s ease-out;
    top: 20vh;
    left: 5vw;
}

.card-select-place #header-container {
    display: flex;
    place-content: space-evenly;
    align-items: center;
    width: 100%;
}

.card-select-place #logo_place_card {
    width: 20%;
    margin: 1rem;
    border-radius: 10px;
}

.container-select-place .card-select-place .container-search {
    display: flex;
    gap: .6rem;
    align-items: center;
    box-shadow: 0 3px 6px #0003;
    background-color: #eeedeb;
    height: 2.2rem;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    padding: .2rem;
}

.container-select-place .card-select-place .container-search .container-icon-search {
    width: 3.5rem;
    height: 2.5rem;
    /* padding: 9.4px 10px 10.6px; */
    background-color: #707070;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    background-position: center;
    border-radius: 2rem;
    border: none;
    display: grid;
    place-items: center;
}

.container-select-place .card-select-place .container-search .search-input {
    width: 100%;
    margin: 0;
    height: 1.8rem;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.3rem;
}

.container-select-place .card-select-place .container-search .search-input::placeholder {
    font-size: 1rem;
}

.container-select-place .card-select-place .list-places-searcher {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 1rem;
    height: 90%;
    overflow-y: auto;
}

.container-select-place .card-select-place .list-places-searcher .place-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 5rem;
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #c4c4c4;
    border-top: 1px solid #c4c4c4;
}

.container-select-place .card-select-place .list-places-searcher .place-item .image-place {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: .7rem;
    background-color: #eeedeb;
    overflow: hidden;
    border: none;
    object-fit: cover;
}

.container-select-place .card-select-place .list-places-searcher .place-item .info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    margin-left: .8rem;
}

.container-select-place .card-select-place .list-places-searcher .place-item .info .name-place {
    color: #545454;
    font-size: 1rem;
    font-weight: 700;
}

.container-select-place .card-select-place .list-places-searcher .place-item .info .subname-place {
    color: #545454;
    font-size: .8rem;
}

.container-select-place .card-select-place .list-places-searcher .place-item .info .building-place {
    color: #545454;
    font-size: .8rem;
}

.container-select-place .card-select-place .list-places-searcher .place-item .icon-right {
    width: 2vw;
    height: 5vh;
}

/*#endregion */
/*#region CardPlace*/
.hidden {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: bottom 0.8s ease-out, opacity 0.8s ease-out;
}

.visible {
    bottom: 10%;
    opacity: 1;
}

.PlaceCardBasicDescription {

    text-align: left;
    display: block;
    margin: 0;
    float: left;
    width: 100%;
}

.review-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Alinea los elementos a la derecha */
    /* width: 100%; */
    margin-right: 2rem;
    margin-top: -3rem;
}

.review {
    width: 5rem;
    /* height: 1.5rem; */
    margin-bottom: 5px;
}

.PlaceCardLongDescription {
    height: 100%;
    margin: 1rem;
    overflow-y: auto;
    width: 90%;
    white-space: pre-line;
}

#gradient-text {
    position: absolute;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5), white);
    width: 100%;
    height: 7rem;
    bottom: 6rem;
}

#logo_place_card {
    display: block;
}

#description_place_card {
    display: inline-block;
    width: 100%;
}

.placeCard-ecommerce {
    height: 5rem;
    margin-bottom: 1rem;
    background-color: #257ecc;
    border-radius: 40px;
    border-style: none;
    width: 200px;
    color: black;
}

#closePlaceCard {
    display: inline-block;
    background: url(/img/icon-close-card.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    width: 5rem;
    height: 5rem;
    padding: 0;
    margin-top: -3em;
}

/*#endregion */
.buttonTogglePlacePerson {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vh;
    align-self: flex-end;
    justify-content: space-evenly;
    border-radius: 20px;
    border: #00000021 solid;
    width: 12rem;
    height: 2.5rem;
    background: #ffffff;
    transition: background 0.5s ease;
}

.buttonTogglePlacePerson img {
    /* mix-blend-mode: color-dodge; */
    /* color: gold; */
    /* width: 100%; */
}

#containerButtonPreviewFull {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.redirect3DButtons {
    margin-bottom: 1vh;
    border: var(--button-disable-color) solid;
    height: 5vh;
    width: 80%;
    border-radius: 50px;
}

.redirect3DButtons.buttonThreeJS {
    background-color: white;
    color: var(--button-disable-color);
}

#containerButtonPreviewFull .redirect3DButtons.buttonUnity {
    background-color: var(--button-disable-color);
    color: rgb(255 255 255);
}

.category-list {
    list-style-type: none;
    margin-top: 20px;
}

.category-list li {
    display: flex;
    align-items: center;
    padding: 10px;
}

.category-list a {
    color: #333;
    text-decoration: none;
}

.container-input {
    display: flex;
    /* flex-grow: 2; */
    /* flex-direction: row; */
    /* box-sizing: border-box; */
    /* transition: all .2s ease; */
    /* width: 294px; */
    /* height: 48px; */
    /* font-size: .8rem; */
    /* padding: 14.5px 32px; */
    /* border-radius: 24px; */
    /* box-shadow: 0 1px 6px #00000021; */
    background-color: #fff;
    /* display: flex; */
    justify-content: space-between;
    /* align-self: center; */
    width: 100%;
    height: 100%;
    /* align-items: center; */
    /* outline: none; */
    border: none;
    /* margin-top: 2rem; */
}

.text-input {
    box-sizing: border-box;
    /* transition: all .2s ease; */
    color: #3d3d3d;
    font-weight: 700;
    font-size: 1rem;
    text-align: left;
    margin-left: 10px;
}

#subname-place {
    font-size: 0.8rem;
}

.icon {
    color: var(--primary-text-color);
    box-sizing: border-box;
    max-width: 20px;
    width: 4vw;
    /* height: 3vh; */
    filter: grayscale(1);
    /* margin-top: 0; */
    margin-right: 15px;
    content: url("/img/icon-arrow-blue.svg");
}

.icon-x {
    content: url("/img/icon-close.svg");
    /* color: black; */
}

#SearchPlacePersonText {
    font-weight: 100;
    /* text-align: left; */
}

#container-textSearch {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

#div-searchButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.BotButton3D {
    position: absolute;
    right: 2rem;
    top: 3rem;
    width: 5rem;
}

.EndCallButton {
    width: 5rem;
}

.avatar {
    /* width: 50%; */
    height: 40%;
}

#backgroundimage-street {
    /* opacity: 0.2; */
    display: block;
    position: absolute;
    border-bottom-left-radius: 20vw;
    border-bottom-right-radius: 20vw;
    width: 100vw;
    height: 30%;
    /* z-index: 1; */
    background-image: url('/img/streetMaskBackground.svg');
    background-color: var(--button-enable-color);
    background-size: cover;
    /* Cover the entire area */
    background-position: center;
    /* Center the image */
}

#BlurBackground {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#BlurBackground div {
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    top: 15%;
}

#BlurBackground img {
    display: block;
    height: 300px;
    width: 100%;
}

.QRMarginElements {
    margin-left: 20px;
    margin-right: 20px;
    /* margin-top: 25px; */
}

.closeButton {
    background: url(/img/icon-close.svg);
    background-size: 1rem 1rem;
    background-position: center;
    background-color: #707070;
    background-repeat: no-repeat;
    border-radius: 1rem;
    border: none;
    width: 3rem;
    height: 3rem;
    padding: 0;
}

.BtnDisplayAI {
    position: absolute;
    display: block;
    right: 5vw;
    top: 5vh;
}

.AIChatArea {
    display: flex;
    flex-direction: column;
    place-content: space-evenly;
    align-items: center;
    text-align: center;
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    top: 15%;
}

/*#region chatbot*/

.msger {
    position: absolute;
    display: none;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    height: 100%;
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
    padding: 10px;
    background: #eee;
    color: #666;
}

.msger-header img {
    width: 25px;
    height: 25px;
    background-color: black;
}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    /* width: 50px; */
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
    /* color: black; */
}

.left-msg .msg-bubble {
    border-bottom-left-radius: 0;
}

.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
}

.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.msger-input {
    flex: 1;
    background: #ddd;
}

.msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.msger-send-btn:hover {
    background: rgb(0, 180, 50);
}

.msger-chat {
    background-color: #fcfcfe;
}

/*#endregion*/