
.containerZTList {
    position: absolute;
    display: flex;
    /* left: -5rem; */
    top: 15rem;
    height: 40rem;
    width: 10rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ZTArea {
    display: flex;
    width: 5rem;
    height: 100%;
    border-radius: 1rem;
    background: #131313;
    align-items: safe center;
    overflow-y: auto;
    justify-content: safe center;
    flex-direction: column;
    z-index: 3;
}

.ZTAction {
    color: white;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    align-items: center;
}

.ZTAction img {
    height: 2.5rem;
}

.ZTAction span {
    margin-top: 5px;
}

.btnZTList {
    height: 9rem;
    z-index: 1;
}

.ZTDescriptionArea {
    position: absolute;
    visibility: hidden;
    display: flex;
    z-index: 2;
    width: 70vw;
    height: 50vh;
    left: 5rem;
    background: white;
    border-radius: 1rem;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.ZTDescriptionArea span {
    font-size: large;
    text-align: center;
    /* margin-top: 3rem; */
}

.ZTDescriptionArea img {
    width: 90%;
    height: 30rem;
}